@import url('http://fonts.cdnfonts.com/css/lulo-clean');
@import url('http://fonts.cdnfonts.com/css/open-sans');

html {
  font-family: 'Lulo Clean', sans-serif;
}

body {
  background-color: black;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#curcond {
  display: flex;
  margin: auto;
  margin-bottom: 0px;
  width: 100%;
}

#current-cond {
  margin: auto;
  margin-bottom: 0px;

  flex-direction: row;
}

#clock {
  margin: 1vh auto;
  margin-bottom: 5vh;
  padding-left: 8vh;
  
  color: white;
  font-size: 32vh;
  line-height: 39vh;
  height: 32vh;
}

#forecast {
  display: flex;
  margin: auto;
  margin-top: 0;
}

.forecast-item {
  font-family: 'Open Sans', sans-serif;

  width: 12vw;
  height: 16vw;
  margin: 0vh 5vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;

  text-align: center;
}

.forecast-img {
  filter: invert(100%);
  height: 6vw;
}

.forecast-date {
  margin-top: 1vh;
  margin-bottom: 0;
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
}

.forecast-high {
  font-size: 4vh;
}

.forecast-low {
  font-size: 3vh;
}

#cur-temp {
  font-size: 8vh;
  font-weight: 500;
}

#cur-sunrise, #cur-sunset {
  font-size: 6vh;
  margin: auto 10vw;
}

#current-cond {
  width: 100%;
  height: auto;
}